<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahul.attendance">

    <application
        android:allowBackup="true"
        android:icon="@drawable/attendance"
        android:label="@string/app_name"
        android:roundIcon="@drawable/attendance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Index"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterStudent" />
        <activity android:name=".Notes" />
        <activity android:name=".Attendance" />
        <activity android:name=".ViewStudent" />
        <activity android:name=".StudentCGPA" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>